#contenitore-slide{
    height: 100vh;
}

#img-principale{
    height: 90%;
    position: relative;
}

#img-secondarie{
    height: 90%;
    /* position: relative; */
}

.immagine{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: right;
}

.slide-big{
    display: none;
     height: 100%;
}

.active{
    display: block;
}

.slide{
    width: 100%;
    height: calc(100% / 5);
    object-fit: cover;
    object-position: right;
    cursor: pointer;
}

.fa-sort-up{
    position: absolute;
    top: 2%;
    right: 20%;
    font-size: 30px;
    cursor: pointer;
}

.fa-sort-down{
    position: absolute;
    bottom: 1%;
    right: 20%;
    font-size: 30px;
    cursor: pointer;
}

.testo{
    position: absolute;
    bottom: 0;
    right: 2%;
    z-index: 1;
    color: white;
    text-align: end;
}

.opacity{
    opacity: 0.5;
}

